@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenido a la segunda asignación de Programación Aplicada</h1>

<hr>
<p>En esta pagina web Blazor, podra crear, leer, modificar y eliminar a los clientes que desee.</p>
<p>Es decir, un CRUD(Create, Read, Update, Delete) de toda la vida.</p>
<br>
<p>Podra hacer lo siguiente:</p>

<ol>
    <li>Registrar clientes</li>
    <ul>
        <li style="list-style-type:disc" >Agregar clientes a la base de datos.</li>
        <li style="list-style-type:disc">Eliminar clientes de la base de datos y obviamente de su lista.</li>
        <li style="list-style-type:disc">Buscar al cliente que desee, en base a su Id.</li>
    </ul>
    <br>
    <li>Consultar Clientes</li> 
    <ul>
        <li style="list-style-type:disc ">Ver la lista de clientes.</li>
        <li style="list-style-type:disc ">Modificar al cliente que quiera.</li>
    </ul>
</ol>
<hr>
<h5>Espero que su estadia en esta web sea agradable para usted.</h5>
<p>Hasta la proxima :)</p>